
<app-start *ngIf="step === 0" (startEvent)="nextStep()"></app-start>
<app-name *ngIf="step === 1" [name]="dough.name" (nameEvent)="setName($event)"></app-name>
<app-ingredients *ngIf="step === 2" [options]="dough.options" [license]="dough.license" (ingredientsEvent)="addIngredients($event)" (licenseEvent)="addLicense($event)" (previousStepEvent)="prevStep()"></app-ingredients>
<app-bake *ngIf="step === 3" [dough]="dough" (previousStepEvent)="prevStep()" (resetEvent)="resetProject()"></app-bake>
<p-toast></p-toast>