.optionGroup
    padding: 0

.optionClass
    padding: 2px
    box-sizing: border-box
    display: inline-block
    flex-basis: auto
    flex-grow: 0
    flex-shring: 0

:host ::ng-deep .p-card
    background-color: #DCB799
    color: #4D0A01
    border: 1px solid #4D0A01

.p-button-bake
    background-color: #4D0A01
    border: 1px solid #4D0A01

.p-button-bake:hover
    background-color: #330601
    border: 1px solid #330601

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider
    background-color: #4D0A01
    border: 1px solid #4D0A01
