<div class="optionGroup name-box">
    <div class="h3-like">1 Name Your Project</div>
    <label>Name: </label>
    <input id="app-name" type="text" pInputText [(ngModel)]="appName" />
</div>
<!-- <h3>Select Options:</h3> -->
<div class="h3-like">2 Select Your Ingredients</div>
<p-card styleClass="card">
    <div class="h4-like">Authentication</div>
    <div class="optionGroup">
        <div class="optionClass">
            <label>JWT Authentication <i class="pi pi-info-circle" pTooltip="Includes user login endpoint(s) with JWT response"></i>: </label>
            <p-inputSwitch [(ngModel)]="WEBAUTH"></p-inputSwitch> 
        </div>
        <div class="optionClass">
            <label><i>OAUTH </i><i class="pi pi-info-circle" pTooltip="Coming soon"></i>: </label>
            <p-inputSwitch [disabled]=true [(ngModel)]="OAUTH"></p-inputSwitch> 
        </div>
    </div>
    <div class="h4-like">Data Sources</div>
    <div class="optionGroup">
        <div class="optionClass">
            <label>MongoDB <i class="pi pi-info-circle" pTooltip="MongoDB is a No-SQL database solution. Using 'mongodb'."></i>: </label>
            <p-inputSwitch [(ngModel)]="MONGO"></p-inputSwitch>
        </div>
        <div class="optionClass">
            <label>MySQL <i class="pi pi-info-circle" pTooltip="MySQL is a relational database solution. Using 'mysql'."></i>: </label>
            <p-inputSwitch [(ngModel)]="MYSQL"></p-inputSwitch>
        </div>
        <div class="optionClass">
            <label><i>Neo4j </i> <i class="pi pi-info-circle" pTooltip="Coming soon"></i>: </label>
            <p-inputSwitch [disabled]=true [(ngModel)]="NEO4J"></p-inputSwitch>
        </div>
        <div class="optionClass">
            <label>PostgreSQL <i class="pi pi-info-circle" pTooltip="PostgreSQL is a relational database solution. Using 'pg'."></i>: </label>
            <p-inputSwitch [(ngModel)]="PG"></p-inputSwitch>
        </div>
        <div class="optionClass">
            <label>Redis <i class="pi pi-info-circle" pTooltip="Redis is a key/value pair data storage solution. Using 'redis'."></i>: </label>
            <p-inputSwitch [(ngModel)]="REDIS"></p-inputSwitch>
        </div>
        <div class="optionClass">
            <label>SQL Server <i class="pi pi-info-circle" pTooltip="Sql Server is a relational database storage solution. Using 'mssql'."></i>: </label>
            <p-inputSwitch [(ngModel)]="SQLSERVER"></p-inputSwitch>
        </div>
    </div>
    <div class="h4-like">Messaging</div>
    <div class="optionGroup">
        <div class="optionClass">
            <label><i>ActiveMQ </i><i class="pi pi-info-circle" pTooltip="Coming soon"></i>: </label>
            <p-inputSwitch [disabled]=true [(ngModel)]="AMQ"></p-inputSwitch>
        </div>
        <div class="optionClass">
            <label><i>Kafka </i><i class="pi pi-info-circle" pTooltip="Coming soon"></i>: </label>
            <p-inputSwitch [disabled]=true [(ngModel)]="KAFKA"></p-inputSwitch>
        </div>
    </div>
    <div class="h4-like">Storage</div>
    <div class="optionGroup">
        <div class="optionClass">
            <label><i>S3 </i><i class="pi pi-info-circle" pTooltip="Coming soon"></i>: </label>
            <p-inputSwitch [disabled]=true [(ngModel)]="S3"></p-inputSwitch>
        </div>
    </div>
    <div class="h4-like">Blockchain</div>
    <div class="optionGroup">
        <div class="optionClass">
            <label><i>Bitcoin </i><i class="pi pi-info-circle" pTooltip="Coming soon"></i>: </label>
            <p-inputSwitch [disabled]=true [(ngModel)]="BTC"></p-inputSwitch> 
        </div>
        <div class="optionClass">
            <label><i>Ethereum </i><i class="pi pi-info-circle" pTooltip="Coming soon"></i>: </label>
            <p-inputSwitch [disabled]=true [(ngModel)]="ETH"></p-inputSwitch> 
        </div>
    </div>
    <div class="h4-like">Other</div>
    <div class="optionGroup">
        <div class="optionClass">
            <label>Docker <i class="pi pi-info-circle" pTooltip="Dockerize this application"></i>: </label>
            <p-inputSwitch [(ngModel)]="DOCKER"></p-inputSwitch>
        </div>
        <div class="optionClass">
            <label><i>GraphQL </i><i class="pi pi-info-circle" pTooltip="Coming soon"></i>: </label>
            <p-inputSwitch [disabled]=true [(ngModel)]="GRAPHQL"></p-inputSwitch> 
        </div>
        <div class="optionClass">
            <label>Logging <i class="pi pi-info-circle" pTooltip="Detailed application logging. Using 'winston'"></i>: </label>
            <p-inputSwitch [(ngModel)]="LOGGING"></p-inputSwitch>
        </div>
    </div>
</p-card>
<div class="h3-like">3 Bake Your Project</div>
<button *ngIf="showBake" pButton type="button" label="Bake!" class="p-button-bake" (click)="onBake()"></button>
<p *ngIf="projectReady">Your project is ready.</p>
<button *ngIf="showReset" pButton type="button" label="Reset" class="p-button-bake" icon="pi pi-refresh" (click)="onReset()"></button>
<div class="h3-like">4 Download, Unzip, & Run</div>
<div>
    <p>Your Typescript project will be zipped and ready to go.</p>
    <p>Simply download, unzip, then run:</p>
    <p *ngIf="AMQ || KAFKA || MONGO || MYSQL || NEO4J || PG || REDIS || S3 || SQLSERVER">Set appropriate credentials in `.env` file.</p>
    <div class="terminal-box">
        $ npm i -g typescript<br>
        $ npm i<br>
        <span *ngIf="!DOCKER">$ npm run start:dev</span>
        <span *ngIf="DOCKER">$ docker-compose up --build</span>
    </div>
</div>
<p-toast></p-toast>