h1
    font-size: 4em
    margin-block-start: .2em
    margin-block-end: .2em

.footer
    background-color: #4D0A01
    bottom: 0
    color: #DCB799
    margin-left: -10px
    margin-right: -10px
    padding-left: 10px
    position: fixed
    width: 100%