$primary-background-color: #E6F4F1
$primary-foreground-color: #2F58C1
$secondary-foreground-color: #609A97

// $primary-background-color: #DCB799;
// $primary-foreground-color: ##4D0A01;
// $secondary-foreground-color: #609A97;
    
h1
    font-size: 4em
    margin-block-start: .2em
    margin-block-end: .2em

.footer
    background-color: $primary-foreground-color
    bottom: 0
    left: 0
    color: $primary-background-color
    margin-right: -10px
    padding-left: 10px
    position: fixed
    width: 100%