<div class="optionGroup name-box">
    <div class="h3-like">Step 1 - Name Your Project</div>
    <label>Name: </label>
    <input id="app-name" type="text" pInputText [(ngModel)]="appName" />
</div>
<div class="p-grid">
    <div class="p-col-2">
        <button pButton type="button" label="Next" class="p-button-bake" iconPos="right" icon="pi pi-angle-right" (click)="nextStep()"></button>
    </div>
    <div class="p-col-1"></div>
    <div class="p-col-2"></div>
    <div class="p-col-7"></div>
</div>