$primary-background-color: #E6F4F1
$primary-foreground-color: #3374bb
$secondary-foreground-color: #ed1c24

// $primary-background-color: #DCB799;
// $primary-foreground-color: ##4D0A01;
// $secondary-foreground-color: #609A97;

html 
	height: 100%


body 
	margin: 10px
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
	font-size: 1rem
	font-weight: 400
	line-height: 1.5
	color: $primary-foreground-color
	text-align: left
	background-color: $primary-background-color


.h1-like 
	display: block
	font-size: 2em
	margin-block-start: 0.67em
	margin-block-end: 0.2em
	margin-inline-start: 0px
	margin-inline-end: 0px
	font-weight: bold


.h4-like 
	display: block
	margin-block-start: .2em
	margin-inline-start: 0px
	margin-inline-end: 0px
	font-weight: bold
